<div class="homepage--header ">
  <div class="homepage--header--content container">
    <h1 id="wb-cont" property="name">
      {{ "Help us solve Canada’s biggest challenges." | t }}
      <span class="small">{{"The Government of Canada wants innovative solutions to <strong>economic</strong>, <strong>environmental</strong>, and <strong>social</strong> problems." | t}}</span>
    </h1>

    <div class="homepage--header--actionlinks">
      <ul class="list-inline">
        <li><a href="/about">{{"About" | t }}</a></li>
        <li><a href="/how-it-works">{{"How it works" | t }}</a></li>
      </ul>
    </div>
  </div>

  <div class="header--photocredit">{{"Photo credit: JP Valery" | t }}</div>
</div>